src/main/mule/freestyle.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f98655e-eb37-44fa-a707-0269edcb00c0" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="freestyleFlow" doc:id="3001c1bf-aec0-4c39-af75-f8ad20ed2e19" >
		<http:listener doc:name="Listener" doc:id="cdc20fbe-27eb-4013-9312-3fa6415c0850" config-ref="HTTP_Listener_config" path="/style"/>
		<set-payload value='#["My Name is Pankaj Chhipa"]' doc:name="Set Payload" doc:id="4bcba438-9f76-4aca-bb2d-6694007c9c78" />
		<ee:transform doc:name="Transform Message" doc:id="2d8ead42-2102-4a74-8eed-5c580adcabeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"meesage" : payload 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
